{{define "Index"}}
{{template "_head"}}
{{template "_menu"}}

  <body>
    <div class="container">
      <section>
        <div>
          <table class="striped centered">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{.}} {{ range . }}
              <tr>
                <td>{{.Name}}</td>
                <td>{{.Description}}</td>
                <td>{{.Price}}</td>
                <td>{{.Quantity}}</td>
                <td><a class="btn red" href="/delete?id={{.Id}}">Del</a></td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </section>
      <div>
        <a href="/new" class="m-3 waves-effect waves-light btn">+ Novo</a>
      </div>
    </div>
  </body>
</html>
{{end}}
